<a href="https://colab.research.google.com/github/AbhishekSohgaura/hello-world/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In-class assignment - Python Basics

### 1. Maximun and minimum of three numbers

In [1]:
def find_max_min(a, b, c):
  lst=[a,b,c]
  max_val = max(lst)
  min_val = min(lst)
  return max_val, min_val

max_val, min_val = find_max_min(20, 10, 30)
print(f"Max={max_val} and Min={min_val}")

Max=30 and Min=10

### 2. Check if a number in divisible by n

In [3]:
#Check if x is divisible by n
def isDivisible(x, n):
    if (x%n==0):
      print("Divisible") 
    else:
      print("Not divisible")

                               #Your code
    

is_divisible = isDivisible(10, 2)
#Print "Divisible" if x is divisible by n otherwise "Not divisible"

Divisible

### 3. Print Fibonacci sequence of length n

In [4]:
#A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....
#The first two terms are 0 and 1. 
#All other terms are obtained by adding the preceding two terms. 
#This means to say the nth term is the sum of (n-1)th and (n-2)th term.
def fib(n):
  a=0
  b=1
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

n = 10
fib(n)

0
1
1
2
3
5
8
13
21
34

### 4. Count number of vowels in a string using for loop

In [38]:
def get_vowel_count(x):
    vowel_count = 0
    vowels = ("aeiouAEIOU")
    for i in x:
      for j in vowels:
          if i==j:
             vowel_count+=1
    return vowel_count                        
    

x = "QUeUEiNg"
print(f"Number of vowels in {x} is {get_vowel_count(x)}")

Number of vowels in QUeUEiNg is 5

### 5. Solve Question 4 using list comprehension

In [16]:
def get_vowel_count_list(x):
    vowel_count = 0
    vowels = ["a","e","i","o","u","A","E","I","O","U"] 
    lst=list(x) 
    
    for i in lst:
      for j in vowels:
        if i==j:
             vowel_count+=1
    return vowel_count

x = "QUeUEiNg"
print(f"Number of vowels in {x} is {get_vowel_count_list(x)}")

Number of vowels in QUeUEiNg is 5

### 6. Create dictionary where key-value pair is roll number and marks obtained by a student. Print highest mark, lowest mark, and class average. Print the roll number of the students who scored more than 50.

In [37]:
   result={1:75,2:44,3:23,4:48} 
   key=list(result.keys())
   lst=list(result.values())
   print("highest_marks", max(lst))
   print("lowest_marks", min(lst))
   n=len(lst)
   sum=0
   for i in lst:
     sum=sum+i
   avg=sum/n 
   print("average",avg)
   for i in lst:
     if i>50:
       j=lst.index(i)
       roll=key[j]
       print(roll)

highest_marks 75
lowest_marks 23
average 47.5
1

### 7 Print the following structure using for loop

In [ ]:
##########
########
######
####
##
####
######
########
##########

#Your code

### 8. Write your own function to sort a list in ascending order

In [7]:
def sort_list(lst):
  n=len(lst)
  for i in range (n):
    for j in range(i + 1, n):
        if(lst[i] > lst[j]):
            temp = lst[i]
            lst[i] = lst[j]
            lst[j] = temp
  
  print(lst)

lst = [3,5,1,9,7,8,3,9]
print(f"Original List : {lst}")
print(sort_list(lst))

Original List : [3, 5, 1, 9, 7, 8, 3, 9]
[1, 3, 3, 5, 7, 8, 9, 9]
None

### 9. Count number of words using string split

In [42]:
s = "Sky is blue."
#Your code
s_lst=s.split()
count=0
for i in s_lst:
  count+=1
print(count)

3

### 10. Extract Information

In [43]:
#A string is given using the following format {name}##{age}::{gender}::{ID}
#Write a code to extract the name, age, gender, and id and print them
s = "Lisa##25::Female::123"

#Your code
s_lst=s.split()
print(s_lst)
name=s_lst[0]

['Lisa##25::Female::123']